:root{

--green:#008753;
--white:#ffffff;
--black:#111111;

}

*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:Roboto,sans-serif;
background:#f7f7f7;

}

header{

background:var(--green);
color:white;
text-align:center;
padding:1rem;

}

picture img{

width:100%;
display:block;

}

main{

max-width:900px;
margin:auto;

}

section{

background:white;
margin:1rem;
padding:1rem;
text-align: center;
box-shadow:0 0 5px rgba(0,0,0,.2);

}

section h2{

margin-bottom:1rem;

}

ul{

list-style:none;

}

li{

padding:.3rem 0;

}

.weather-icon{

display:block;
width:60px;
margin:auto;

}

footer{

background:var(--green);
color:white;
text-align:center;
padding:1rem;
margin-top:1rem;

}